.App {
  text-align: center;
}

.radios{
  text-align: left;
}

a[href="#"]{
  color: #000;
  font-size: 25px;
  text-align: left;
  margin-right: 85%;
}

.number{
  font-size: 20px;
  background-color: #000000;
  color: #FFF;
  border-radius: 20px 20px 20px 20px;
}

mark{
  background-color: #c31432;
  color: #FFF;
  border-radius: 20px 20px 20px 20px;
}

body{
  background: linear-gradient(to right, #c31432, #240b36);
}

.App-logo {
  animation: App-logo-spin infinite 29s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-link {
  color: #0f4757;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
